<div>
  <h1>Chicago Photo Blogxxx</h1>
  <%= link_to "Create New Post", "/posts/new" %>
</div>

<% @posts.each do |p| %>
  <h2><%= p.title  %></h2>
  <p><%= p.desc[0,250]%> ... <%=link_to "read more", show_post_url(p.id) %> </p>
  <p><%= "~Written by #{p.author } on #{p.date}" %></p>
<% end %>




Still undecided about buying our photographs?
We know over 99% of customers keep their purchase.
If you don't love yours, no need to worry.
We Offer Free Return Shipping & Full Refunds.
